@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<div class="text-center">
	<h1 class="display-4">Bem Vindo</h1>
	<h3> Software de Gestão de Alojamentos Turísticos </h3>
	<img src="https://images.impresa.pt/sicnot/2023-03-01-praia-mar-oceano.jpg-ef90cfe2-1/original/mw-720" alt="Description of the image">

	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

            